{% if logged_in %}

    {% set btn_text = 'My Profile' %}

{% else %}

    {% set btn_text = 'Log in / Join' %}

{% endif %}
{% include directory ~ '/includes/region--header.html.twig' %}
{% include directory ~ '/includes/frontpage-slider.html.twig' %}
<section class="af-header">
    <div class="container">
        <h2 class="text-left">Mietwagen in der Ostschweiz</h2>
        <h6 class="text-left">Seit über 50 Jahren zuverlässig und günstig</h6>
    </div>
</section>
<div class="layout-container">
    <main role="main">
        <section class="cars news-content">
            <div class="container">
                {{ page.content }}
                <div class="clear"></div>
            </div>
        </section>

    </main>
    <section class="icons-container">
        <div class="container text-center">
            {{ page.under_content.find_vehicle_txt }}
            <div class="icons">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3 text-center">
                        <div class="icon">
                            <i class="fas fa-search"></i>
                        </div>
                        {{ page.under_content.suchen_content }}
                    </div>
                    <div class="col-sm-12 col-sm-0 col-md-4 col-md-0 col-lg-1 line text-center"></div>
                    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                        <div class="icon">
                            <i class="fas fa-check-square"></i>
                        </div>
                        {{ page.under_content.buchen_content }}
                    </div>
                    <div class="col-sm-12 col-sm-0 col-md-4 col-md-0 col-lg-1 line text-center"></div>
                    <div class="col-sm-12 col-md-4 col-lg-3 text-center">
                        <div class="icon">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        {{ page.under_content.losfahren_content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-container">
        <div class="container text-center">
            <h3>News rund um</h3>
            <h5>Aktuelle Angebote, Tipps und Tricks und vieles mehr...</h5>
            {#<a href="javascript:void(0)" class="btn site-btn site-btn-outline">Mehr News</a>#}
        </div>
        <div class="banner">
            <div id="newsSlider" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Indicators -->
                <ul class="carousel-indicators ci-desk">
                    <li data-target="#newsSlider" data-slide-to="0" class="active"></li>
                    <li data-target="#newsSlider" data-slide-to="1"></li>
                    <li data-target="#newsSlider" data-slide-to="2"></li>
                </ul>
                <ul class="carousel-indicators ci-mobile">
                    <a class="ns-arrow" data-dir="left" href="javascript:void(0)"><i class="fas fa-arrow-left"></i></a>
                    <a class="ns-arrow" data-dir="right" href="javascript:void(0)"><i class="fas fa-arrow-right"></i></a>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner second-slider d-md-block "></div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#newsSlider" data-slide="prev">
                    <span class="arrow">
                        <span class="fas fa-arrow-left"></span>
                    </span>
                </a>
                <a class="carousel-control-next" href="#newsSlider" data-slide="next">
                    <span class="arrow">
                        <span class="fas fa-arrow-right"></span>
                    </span>
                </a>

            </div>
        </div>
    </section>
</div>{# /.layout-container #}
<section class="map-container">
    <div class="container">
        <h3>Ihre Autovermietung Ilgauto in der Ostschweiz</h3>
        <h5>Gerne beraten wir Sie auch vor Ort.</h5>
        <br><br>
        <div class="row">
            <div class="col-sm-12 col-md-7 map-p">
                <div id="map"></div>
            </div>
            <div class="col-sm-12 col-md-5">
                <h6>Ilgauto AG</h6>
                <p>
                    <strong>{{ page.before_header.address }}</strong>
                </p>
                <div class="row no-lh">
                    <div class="col-4 col-md-3"><strong>Tel: </strong></div>
                    <div class="col-8 col-md-9"><strong>{{ page.before_header.phone }}</strong></div>
                </div>
                {#<br>#}
                {#<div class="row no-lh">#}
                    {#<div class="col-4 col-md-3"><strong>Fax: </strong></div>#}
                    {#<div class="col-8 col-md-9"><strong>{{ page.before_header.phone }}</strong></div>#}
                {#</div>#}
                <div class="row no-lh">
                    <div class="col-4 col-md-3"><strong>E-Mail: </strong></div>
                    <div class="col-8 col-md-9"><strong>{{ page.before_header.email }}</strong></div>
                </div>
                <br>
                <h3>Öffnungszeiten</h3>
                <div class="row">
                    <div class="col-md-12 col-lg-6 mwt text-right"><strong>Montag-Samstag:</strong></div>
                    <div class="col-md-12 col-lg-6">
                        {{ page.under_content.open_close_hours }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-mg-12 col-lg-6 mwt text-right"><strong>Sonn-und Feiertag:</strong></div>
                    <div class="col-mg-12 col-lg-6">{{ page.under_content.sonntag_work }}</div>
                </div>
                <br>
                {#<a href="javascript:void(0)" class="btn site-btn btn-block">Route</a>#}
                {{ page.under_content.kontakt_route_button }}
            </div>
        </div>
    </div>
</section>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = {
            lat: 47.551960,
            lng: 8.867260
        };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 18,
                center: uluru
            });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6X3gleUX61dylLbUqjeF6TgEAF9Rk8ZE&callback=initMap">
</script>
{%  include directory ~ '/includes/region--footer.html.twig'  %}
