{% include directory ~ '/includes/region--header.html.twig' %}
{% include directory ~ '/includes/preise-slider.html.twig' %}
<section class="preise-content container">
    <h1>Unsere Mietpreise</h1>
    {#<p>Rückgaben nach 18h: zzgl. 1/2 Zusatztag, ab Fr. 10.- 0 Km</p>#}
    <br><br>
    <div class="tabs">
        <div class="tab-link">
            <p>Personenwagen</p>
            <i class="fas fa-arrow-right tl-arrow"></i>
        </div>
        <div class="tab-content">
            <div class="table-responsive">
                {{ page.block_contents.personenwagen_table }}
            </div>
        </div>

        <div class="tab-link">
            <p>Personenbusse</p>
            <i class="fas fa-arrow-right tl-arrow"></i>
        </div>
        <div class="tab-content">
            <div class="table-responsive">
                {{ page.block_contents.personenbusse_table }}
            </div>
        </div>
        <div class="tab-link">
            <p>Camper/Reisemobile</p>
            <i class="fas fa-arrow-right tl-arrow"></i>
        </div>
        <div class="tab-content">
            <div class="table-responsive">
                {{ page.block_contents.camper_reisenmobile_table }}
            </div>
        </div>
        <div class="tab-link">
            <p>Lieferwagen</p>
            <i class="fas fa-arrow-right tl-arrow"></i>
        </div>
        <div class="tab-content">
            <div class="table-responsive">
                {{ page.block_contents.lieferwagen_table }}
            </div>
        </div>
        <div class="tab-link">
            <p>Anhänger</p>
            <i class="fas fa-arrow-right tl-arrow"></i>
        </div>
        <div class="tab-content">
            {{ page.block_contents.anhanger_table_top_info }}
            <div class="table-responsive">
                {{ page.block_contents.anhanger_table }}
            </div>
        </div>
        {{ page.block_contents.anhanger_table_bottom_info }}
    </div>

</section>
{% include directory ~ '/includes/region--footer.html.twig' %}